<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Name:</p>
        <input #name type="text" required>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email:</p> 
        <input #email type="text" required >
        <p></p>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h5 class="w3-opacity"><b>Message:</b></h5> 
        <textarea #message [(ngModel)]="message.value" type="text" 
        (click)="onClick(message)">{{defaulttext}}</textarea>
      </div>
    <!-- End Left Column -->
    </div>
    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h5 class="w3-opacity"><b>Email Message:</b></h5> 
        <div *ngIf="isVisible(message)">
          Hello Milos,<br><br>
          <div>{{FormatingMessageText(message).value}}</div>
          <br><br>
          <div *ngIf="isVisible(name)">
            Best Regards <br>
            {{name.value}} <br><br>
            Email: {{email.value}}
          </div>
        </div>
        <div class="w3-container w3-content w3-white w3-margin-bottom">
          <p>
            <button type="submit" [disabled]="isDisabled(name,email,message)"
            (click)="GetFormData(name.value, newmessage.value)"> SEND </button>
            <button type="submit" (click)="onClear(message)"> CLEAR </button>
          </p>
        </div>
      </div>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->  
  </div>
<!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>